@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #5bbcff;
  background-image: url("/img/STILL IMAGE.png");

  /* Set a specific height */
  min-height: 1080px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: none;
}

@font-face {
  font-family: 'soulmaze';
  src: url('../fonts/soulmaze.otf');
}

@font-face {
  font-family: 'berkeley';
  src: url('../fonts/BerkeleyMonoTrial-Regular.otf');
}

.soulmaze {
  font-family: 'soulmaze';
}

.berkeley {
  font-family: 'berkeley';
}

.cream {
  color: #fffab7;
}

.red {
  color: #fb615c;
}

.blue {
  color: #2d3250;
}

.gray {
  color: #d6d4d0;
}