@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #5bbcff;
  background-image: url("/img/STILL IMAGE.png");

  /* Set a specific height */
  min-height: 1080px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: none;
}

@font-face {
  font-family: 'soulmaze';
  src: url('../fonts/soulmaze.otf');
}

@font-face {
  font-family: 'berkeley';
  src: url('../fonts/BerkeleyMonoTrial-Regular.otf');
}

.soulmaze {
  font-family: 'soulmaze';
}

.berkeley {
  font-family: 'berkeley';
}

.cream {
  color: #fffab7;
}

.red {
  color: #fb615c;
}

.blue {
  color: #2d3250;
}

.gray {
  color: #d6d4d0;
}

::selection {
  background: #fb615c;
  color: #fffab7;
}


.select {
  height: 0;
}

.select:hover {
  display: inline-block;
  color: #fffab7;
  height: 22px;
  width: auto;
  background-color: #2d3250;
  transition: color .25s ease-in-out, box-shadow .3s ease-in-out;
  transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selectedLink {
  height: 0;
}

.selectedLink:hover {
  display: inline-block;
  color: #fffab7;
  height: 40px;
  width: auto;
  border-radius: 0px 0px 10px 10px;
  background-color: #fb615c;
  transition: color .25s ease-in-out, box-shadow .3s ease-in-out;
  transition: height .25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.forsvg {
  filter: invert(45%) sepia(52%) saturate(874%) hue-rotate(316deg) brightness(104%) contrast(97%);
}